* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #fff;
    color: #555;
    font-size: 14px;
}

.wrap {
    width: 100%;
    height: 600px;
    /*设置垂直居中的方法:绝对定位,距上边50%,margin-top:设置成高度的一半*/
    position: absolute;
    top: 50%;
    margin-top: -300px;
    background-color: #333;
    overflow: hidden; /*超出部分不显示*/
    /*子元素获得3D元素支持,这里是设置子元素距离视图的位置*/
    perspective: 800px;
}

/*海报样式*/
.photo {
    position: absolute;
    width: 260px;
    height:280px;
    z-index: 1;
    /* 设置阴影的颜色rgba(r,g,b,a): 000就是黑色,Alpha透明度。取值0~1之间,.01就是百分之一*/
    box-shadow: 0 0 1px rgba(0,0,0,.01);
    /*设置过渡动画效果*/
    transition: all .6s;
}

/*正面和背面都是用的一个.side,绝对定位时后面一个div背面的在正面的div上面,
需要把背面的div先隐藏起来*/
.photo .side {
    width: 100%;
    height: 100%;
    background-color: #eee;
    /*绝对定位:脱离标准流的,默认情况下所有的绝对定位的元素，无论是否有祖先元素，都会以body来做为参考点*/
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border-radius: 5px;
    /*border和padding全会在你设置的宽度内部,不会超出*/
    box-sizing: border-box;
}

.photo .side_front {

}

.photo .side_front .image{
    width: 100%;
    height: 220px;
    line-height: 220px;
    overflow: hidden;
}

.photo .side_front .image img{
    width: 100%;
}

.photo .side_front .caption{
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

.photo .side .image .caption {
    text-align: center;
}


.photo .side_back .desc {
    height: 100%;
    color: #666;
    font-size: 12px;
    line-height: 1.5em;
    overflow: hidden;
}

/*当前选中的海报的样式,水平垂直居中*/
/*设置水平垂直居中的方法:绝对定位,距上边左边50%,margin-top:设置成高度的一半,margin-left:设置成宽度的一半*/
.photo_center {
    left: 50%;
    top: 50%;
    margin-left: -130px;
    margin-top: -140px;
    z-index: 999;
}

/*负责翻转*/
.photo_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /*设置过渡动画效果*/
    transition: all .6s;
}

/*默认正面的div不翻转*/
.photo_wrap .side_front {
    transform: rotateY(0deg);
}

/*默认背正的div翻转180度*/
.photo_wrap .side_back {
    /*定义位移以及延Y轴旋转*/
    transform: rotateY(180deg);
}

/*如果有翻转则不显示*/
.photo_wrap .side {
    /*backface-visibility 属性定义当元素不面向屏幕时是否可见*/
    backface-visibility: hidden;
}

/*如果添加了photo_font则影响下面的photo_wrap不翻转*/
.photo_front .photo_wrap {
    transform: rotateY(0deg);
}

/*如果添加了pooto_font则影响下面的photo_wrap翻转*/
.photo_back .photo_wrap {
    transform: rotateY(180deg);
}

/*背面电影详情样式*/
.side_back em {
    font-weight: normal;
    font-size: 14px;
    color: #f60;
}

.side_back .title {
    font-size: 14px;
    padding: 5px 0;
}

.side_back .collect {
    padding-right: 10px;
    height:20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
    color: #9c9c9c;
}

.side_back .summary {
    line-height: 20px;
    color: #680;
    font-size: 12px;
}